.headertop {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .logo {
    height: 1em;
    margin: 5px;
  }
  .topbar {
    height: 100px
    width: 100%;
    padding: 5px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
      Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-decoration: none;  
  }
