.headertop {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px 16px;
    text-decoration: none;
  }
  .navbar a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .logo {
    height: 1em;
    margin: 5px;
	vertical-align: bottom;
  }
  .topbar {
    height: 60px;
    width: 100%;
    padding: 0 0 0 12px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
      Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-decoration: none;  
    color: #000000;
  }

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}
.downlink {
  color: black;
font-weight: bold;
}
.content {
  box-sizing: border-box;
}

.content {
  padding: 2rem 0 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.slideImage{
    max-height: 60vh; 
    max-width: 100%;
    border-radius: 10px;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 1100;
}

.slideIframe {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    z-index: 1000;
    border-radius: 10px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  text-align: center;
  font-weight: 500;
  z-index: 1200;
  pointer-events:none;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  z-index: 1300;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.dots {
  text-align:center;
}


.packWindow {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.windowImg {
  max-height: 60vh; 
  max-width: 100%;
  border-radius: 10px;
}


.windowTitle {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px;
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  text-align: center;
  font-weight: 500;
  z-index: 1200;
  pointer-events:none;
}


.windowDownloads {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px;
  position: absolute;
  bottom: 8px;
  right: 10%;
  transform: translateX(-50%);
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  text-align: center;
  font-weight: 500;
  z-index: 1200;
  pointer-events:none;
}

.windowViews {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px;
  position: absolute;
  bottom: 8px;
  left: 10%;
  transform: translateX(-50%);
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  text-align: center;
  font-weight: 500;
  z-index: 1200;
  pointer-events:none;
}